body {
  font-family: Arial;
  text-align: center;
  background: #f3f7ff;
}

h1, h2 {
  color: #2b4b8a;
}

.menu a {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  text-decoration: none;
  background: #2b4b8a;
  color: white;
  border-radius: 5px;
}

form input, form button {
  padding: 7px;
  margin: 3px;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
}

th, td {
  padding: 8px 12px;
  border: 1px solid #999;
}
.success { color: green; }
.error { color: red; }
